*{
    margin: 0;
}
.headers img{
    height: 12vh;
}
.headers{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    align-items: center;
   
}
.headers ul{
    list-style-type : none;
    font-size: 24px;
}
#ulDIv{
    display: flex;
   
}
#searchIcon{
    font-size: 24px;
    display: flex;
   align-items: center;

}

.linkComp{
    color: black;
    text-decoration: none;
}