#cardBox{
    display: flex;
    flex-direction: row;
   
}
#cardFlex{
    display: flex;
    flex-direction: column;
    margin: 0px 1em;
}
#cardFlex img{
    width: 20vh;
    height: 30vh;
    border-radius: 5%;
}
#pagin{
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding: 1em 5em ;
}
#dayWeek{
    border: 1px solid black;
    border-radius: 2em;
    width: fit-content;
    font-size: 22px;
    background-color: darkgray;
}
#toggleBox{
    border-radius: 2em;
}

