#cardBox{
    display: flex;
    flex-direction: row;
    overflow-x: auto; 

}
.cardFlex{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
     /* pointer-events: none; */
}
.cardFlex img{
    width: 20vh;
    height: 30vh;
    border-radius: 5%;
}
#pagin{
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding: 1em 5em ;
}
#dayWeek{
    border: 1px solid black;
    border-radius: 2em;
    width: fit-content;
    font-size: 22px;
    background-color: darkgray;
}
#toggleBox{
    border-radius: 2em;
}

#dayButton{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

#weekButton{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}